<div *ngIf="{{lastError}}">{{lastError}}</div>
<hr />
<div class="form-group">
  <label for="exampleInputEmail1">Email address</label>
  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" #alertElement>
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
</div>